<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PropertyDetailController</servlet-name>
        <servlet-class>controller.property.PropertyDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyListController</servlet-name>
        <servlet-class>controller.property.PropertyListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostedController</servlet-name>
        <servlet-class>controller.property.EditPostedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostPropertyController</servlet-name>
        <servlet-class>controller.property.PostPropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>controller.application.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPromotion</servlet-name>
        <servlet-class>controller.property.PromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostIDToAddViewController</servlet-name>
        <servlet-class>controller.property.PostIDToAddViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostPropertyController</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostedController</servlet-name>
        <url-pattern>/editPosted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyDetailController</servlet-name>
        <url-pattern>/property/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyListController</servlet-name>
        <url-pattern>/property-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Wishlist</servlet-name>
        <servlet-class>controller.property.WishlistController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Wishlist</servlet-name>
        <url-pattern>/Wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/application/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPromotion</servlet-name>
        <url-pattern>/PromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostIDToAddViewController</servlet-name>
        <url-pattern>/PostIDToAddViewController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
